#fundo
  #conteudo
    .title-section
      Quem somos
    .contact_form
      %table.adm
        %tr
          %th Descrição
          %th
          %th
          %th
        - @whoarewes.each do |whoarewe|
          %tr
            %td.name= whoarewe.description
            %td= link_to 'Visualizar', whoarewe
            %td= link_to 'Editar', edit_whoarewe_path(whoarewe)
            %td= link_to 'Apagar', whoarewe, confirm: 'Você tem certeza?', method: :delete
      %br/
      = link_to 'New Whoarewe', new_whoarewe_path
