#fundo
  #conteudo
    .title-section
      Acesso restrito
    .contact_form
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        %p
          = f.label :email
          %br/
          = f.email_field :email
        %p
          = f.label "Senha"
          %br/
          = f.password_field :password
        - if devise_mapping.rememberable?
          %p
            = f.check_box :remember_me
            = f.label "Mantenha-me conectado"
        %p= f.submit "Entrar"
