!!!
%html
  %head
    %title Brigadeiria
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Leckerli+One"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if notice.present?
      %p#notice 
        = notice
    #menu
      #menu-content
        %ul
          %li= link_to "Página inícial", root_path
          %li.coroa
          %li= link_to "Quem somos", who_path
          %li.coroa
          %li= link_to "Nossas delícias", delicious_products_path
          %li.coroa
          %li= link_to "Contato", new_contact_path
          
        #social
          = link_to image_tag("icons/facebook.png"), "https://www.facebook.com/pages/Brigaderia-Gourmand/197833756937337", target: "_blank"
          = link_to image_tag("icons/twitter.png"), "https://twitter.com/brigaderiagour", target: "_blank"

        #logo
          = link_to image_tag("logo.png"), root_path
    
    = yield
  
  #rodape
    = image_tag "brigadeiro.png"
    %br
    %span
      Brigaderia Gourmand
    %br
    Rua de Teste, 899 - Centro - Joinville/SC - Fone: (47) 91919191

  
/
  - if user_signed_in?
    %li= link_to('Logout', destroy_user_session_path, :method => 'delete')
    
:javascript
  $(document).ready(function() { 
    AtatumSlider.initialize();
  });