!!!
%html
  %head
    %title Brigadeiria
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Leckerli+One"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #menu
      #menu-content
        %ul
          %li= link_to "Página inícial", root_path
          %li.coroa
          %li= link_to "Quem somos", who_path
          %li.coroa
          %li= link_to "Nossas delícias", delicious_products_path
          %li.coroa
          %li= link_to "Contato", new_contact_path
          
        #social
          = link_to image_tag("icons/facebook.png"), "#"
          = link_to image_tag("icons/twitter.png"), "#"

        #logo
          = link_to image_tag("logo.png"), root_path
    
    #destaques
      #brigadeiro-destaque
        #slider
          - @featured_products.each do |brigadeiro|
          
            %div.brigadeiro{id: "brig_#{brigadeiro.id}"}
              .img= image_tag brigadeiro.image.url(:medium)
              .name-description= brigadeiro.name
              %span.description= truncate(brigadeiro.description, :length => 80)
              
          .arrow= image_tag "arrow.png"
        #dock

    = yield
/
  - if user_signed_in?
    %li= link_to('Logout', destroy_user_session_path, :method => 'delete')
    
:javascript
  $(document).ready(function($) { AtatumSlider.initialize(); });
