!!!
%html
  %head
    %title Brigadeiria
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = link_to "Página inícial", root_path
    = link_to "Nossas delícias", delicious_products_path
    = link_to "Contato", new_contact_path
    - if user_signed_in?
      = link_to('Logout', destroy_user_session_path, :method => 'delete')
    
    %h2 Destaques
    %ul
      - @featured_products.each do |product|
        %li
          = image_tag product.image.url(:thumb)
          = product.name

    = yield
